{% extends "layout.html" %}

{% from "panel/macro.njk" import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: "Application complete",
        text: "Your magical kits will arrive in 3-5 working days"
      }) }}

      <h2 class="nhsuk-heading-m">Your details have been collected via airspace</h2>

      {% set siteLocationHtml %}
        St George's Pharmacy<br>
        46 St George's Rd<br>
        Elephant and Castle<br>
        London<br>
        SE1 6ET
      {% endset %}

      {{ summaryList({
        border: false,
        rows: [
          {
            key: {
              text: "Your home address"
            },
            value: {
              html: siteLocationHtml
            }
          }
        ]
      }) }}


    </div>
  </div>
{% endblock %}
