{% extends "layout.html" %}

{% from "panel/macro.njk" import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    {% from "warning-callout/macro.njk" import warningCallout %}

{{ warningCallout({
  heading: "You are not eligible",
  text: "Unfortunately, you are a MUGGLE"
}) }}

{% from "action-link/macro.njk" import actionLink %}

{{ actionLink({
  text: "Have another go Muggle",
  href: "/start-page"
}) }}


    </div>
  </div>
{% endblock %}
