{% extends "layout.html" %}

{% from "back-link/macro.njk" import backLink %}
{% from "button/macro.njk" import button %}
{% from "radios/macro.njk" import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/start-page",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/magical-powers-answer" method="post" novalidate>

        {{ radios({
          fieldset: {
            legend: {
              text: "Do you have magical powers?",
              size: "l",
              isPageHeading: true
            }
          },
          name: "hasMagicalPowers",
          value: data.hasMagicalPowers
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
            
            
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
