{% extends "layout.html" %}

{% from "back-link/macro.njk" import backLink %}
{% from "button/macro.njk" import button %}
{% from "radios/macro.njk" import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/details",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/check-answers" method="post" novalidate>

        {{ radios({
          fieldset: {
            legend: {
              text: "How do you want to receive your kit?",
              size: "l",
              isPageHeading: true
            }
          },
          name: "receivingKit",
          value: data.receivingKit,
          items: [
            {
              value: "Broomsticks",
              text: "By Broomsticks"
            },
            {
              value: "MuggleDelivery",
              text: "By Muggle Delivery"
            }
            
            
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
