{% extends "layout.html" %}


{% from "breadcrumb/macro.njk" import breadcrumb %}
{% from "button/macro.njk" import button %}
{% from "inset-text/macro.njk" import insetText %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set dummyNhsNumber = "999 123 4567" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      }
      
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Order a test to check for magical powers</h1>

      {% from "error-summary/macro.njk" import errorSummary %}



      <p>Use this service to order a test to check for magical powers.</p>
      <p>Only ordered this test if you have received an invite from NHS magical services </p>
      
      
      
<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
    {{ card({
      heading: {
        text: "Proxy witch service",
        size: "m"
      },
      description: "About how to find and register with a local witch",
      href: "#",
      clickable: true,
      variant: "primary"
    }) }}
  </li>
</ul>


    

      
      <p>By using this service you agree to our <a href="#">terms of use</a> and confirm that you have read the <a href="#">privacy policy</a>.</p>

      {{ button({
        text: "Start now",
        href: "/magical-powers"
      }) }}

    

    </div>
  </div>
{% endblock %}
